body {
	background-color: #171717;
}

a, a:hover {
	text-decoration: none;
}

ul, ol {
	list-style: none;
}

button {
	border: none;
}


.first-row {
	margin: 40px auto;
}


.upper-bar {
	background-color: #232323;
	margin-top: 60px;
	height: 26px;
	border-top-right-radius: 12px;
	border-top-left-radius: 12px;
}

.red,
.yellow,
.green {
	height: 17px;
	width: 17px;
	margin: 5px 2px 5px 2px;
	padding: 0;
	border-radius: 50%;
}

.red {background-color: #f35a56; margin-left: 5px;}
.yellow {background-color: #fdbe41;}
.green {background-color: #34c749;}

.red:active {background-color: #bf4841;}
.yellow:active {background-color: #bf8d21;}
.green:active {background-color: #1e9830;}

.main-title {
	color: white;
	font-size: 4rem;
	font-weight: normal;
	font-family: 'Arvo', serif;

	
}

.sub-title {
	color: white;
	font-family: 'Dosis', sans-serif;
}


.links a {
	color: white;
	font-size: 2.1rem;
	margin: 0;
	padding: 0;
	position: relative;
}

.links a:hover {
	color: orange;
}




/*.main-title:hover {color: #f35a56; transition: 2s;}
.main-title {
	font-family: 'Andale Mono', sans-serif;
	font-size: 4em;
	letter-spacing: -0.1em;
	margin-top: 55px;
	margin-bottom: -10px;
	padding: 0;
	color: #fdbe41;
	transition: 2s;
}*/

/*.sub-title {
	font-family: 'Avenir Next Condensed', sans-serif;
	font-size: 1.85em;
	margin: 0;
	color: #cbcbcb;
}*/

/************************************
FOOTER
*/

/*footer a {
	margin: 10px;
	padding: 4px;
	font-size: 1.45em;
	font-family: 'Andale Mono', sans-serif;
}

/*.flt-ftr {float: right;}*/
/*.copyright {
	padding-top: 190px;
	font-size: 0.9em;
	color: #cbcbcb;
}
*/







