body {
	background-color: #171717;
	height: 80%;
}

button {
	border: none;
}

a, a:after {
	text-decoration: none;
	color: #7d7d7d;
}

a:hover {
	color: white;
	transition: 1s;
}

/************************************
HEADING
*/

.upper-bar {
	height: 25px;
	width: auto;
	background-color: #232323;
	margin-top: 100px;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}

.red,
.yellow,
.green {
	float: left;
	height: 17px;
	width: 17px;
	margin: 5px;
	border-radius: 100%;
}

.red {background-color: #f35a56;}
.yellow {background-color: #fdbe41;}
.green {background-color: #34c749;}

.red:active {background-color: #bf4841;}
.yellow:active {background-color: #bf8d21;}
.green:active {background-color: #1e9830;}


.main-title:hover {color: #f35a56; transition: 2s;}
.main-title {
	font-family: 'Andale Mono', sans-serif;
	font-size: 4em;
	letter-spacing: -0.1em;
	margin-top: 55px;
	margin-bottom: -10px;
	padding: 0;
	color: #fdbe41;
	transition: 2s;
}

.sub-title {
	font-family: 'Avenir Next Condensed', sans-serif;
	font-size: 1.85em;
	margin: 0;
	color: #cbcbcb;
}

/************************************
FOOTER
*/

footer a {
	margin: 10px;
	padding: 4px;
	font-size: 1.45em;
	font-family: 'Andale Mono', sans-serif;
}

.flt-ftr {float: right;}
.copyright {
	padding-top: 190px;
	font-size: 0.9em;
	color: #cbcbcb;
}


/*************** ADD MEDIA QUERIES ***************/






